<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= typeof title != 'undefined' ? title: 'Conference Website'%></title>

    <!-- css -->
    <link rel="stylesheet" href="public/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="public/bower_components/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="public/css/main.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head> 
<body data-spy="scroll" data-target="#site-nav">
    <%- body -%>
</body>
</html>